@use '../../styles/variables.scss' as *;

.sectionContainer {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.titleContainer {
  padding-top: calc(var(--header-height) + 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  align-items: center;
  @include center-layout;

  @include max-width(md) {
    flex-direction: column;
    gap: 40px;
    align-items: unset;
  }
}

.cardGroup {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  @include max-width(sm) {
    align-items: center;
  }
}

.cardContainer {
  position: relative;
  padding: 8px 16px;
  transition: color 0.3s ease;
  cursor: pointer;

  h2 {
    font-size: 2em;
    transition: color 0.3s ease;
    color: var(--text-primary-dark);
    text-align: center;
  }
}

.cardIndicator {
  background: var(--purple-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  z-index: -1;
}

.contentContainer {
  flex: 1 1 50%;
  padding: 20px;
  position: relative;

  border: 1px solid var(--black);
  border-radius: 10px;
  background-image: var(--white-gradient);
}

.contentTitle {
  display: flex;
  flex-direction: row;
  gap: 10px;

  h3 {
    background: var(--purple-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: var(--h3-font-size);
    margin-bottom: 16px;
  }
}

.contentDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    color: var(--text-secondary-dark);
  }
}

.backgroundStar {
  width: 30px;
  height: auto;
  position: absolute;
  right: 60px;
  top: 0;
  filter: invert(30%);
}

.sliderContainer {
  height: 240px;
}

.textSlider {
  div {
    p {
      @include max-width(md) {
        font-size: 90px;
      }
    }
  }
}
