.sectionContainer {
  min-height: 100vh;
}

.titleContainer {
  padding-top: calc(var(--header-height) + 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
