.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
  );
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

  &:hover {
    .item {
      animation-play-state: paused !important;
      filter: grayscale(1);
    }
  }

  &[reverse='true'] .item {
    animation: reversePlay var(--duration) linear infinite;
  }

  .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;

    .item {
      mix-blend-mode: color-burn;
      width: var(--width);
      height: var(--height);
      position: absolute;
      left: 100%;
      animation: autoRun var(--duration) linear infinite;
      transition: filter 0.5s;
      animation-delay: calc(
        (var(--duration) / var(--quantity)) *
          (var(--position) - 1) - var(--duration)
      ) !important;

      &:hover {
        filter: grayscale(0);
      }

      img {
        width: 100%;
        aspect-ratio: 5/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
        opacity: 0.2;
      }
    }
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
