@use '../../styles/variables.scss' as *;

.sectionContainer {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.titleContainer {
  padding-top: calc(var(--header-height) + 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @include max-width(md) {
    padding-top: calc(var(--header-height) - 1rem);
    margin-bottom: 14px;
  }
}
