@use '../../styles/variables.scss' as *;

.sectionContainer {
  position: relative;
  background-color: var(--bg-black);
  height: 680px;
  padding-top: 30px;
  padding-bottom: 20px;

  h1,
  h2,
  h3,
  h4 {
    color: var(--ice-white);
  }

  p {
    color: var(--light-gray);
  }
}

.itemContainer {
  @include center-layout;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 140px;
}

.menuGroup {
  display: flex;
  gap: 100px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    margin-bottom: 8px;
  }
}

.iconContainer {
  display: flex;
  gap: 10px;
}

.nameGroup {
  position: relative;

  h1 {
    font-size: 9vw;
    font-family: Neue World;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 20px;

    @include max-width(md) {
      font-size: 5em;
    }
  }

  p {
    color: var(--light-gray);
  }
}

.arrowContainer {
  position: absolute;
  right: 0px;
  top: -20px;
}

.textSlider {
  top: 0;
  div {
    p {
      font-size: 90px;
      color: var(--dark-gray);
    }
  }
}
