@use '../../styles/variables.scss' as *;

.sectionContainer {
  position: relative;
  background-color: black;
  height: 680px;
  padding-top: 30px;
  padding-bottom: 20px;

  h1,
  h2,
  h3,
  h4 {
    color: var(--text-primary-light);
  }

  p {
    color: var(--text-secondary-light);
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 140px;
  @include center-layout;
}

.menuGroup {
  display: flex;
  gap: 100px;
  z-index: 2;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    margin-bottom: 8px;
  }
}

.iconContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 10px;
  cursor: pointer;

  p {
    transition: color 0.3s linear;
  }

  svg {
    fill: var(--text-secondary-light);
    transition: fill 0.3s linear;
  }

  &:hover {
    p {
      color: black;
    }
    svg {
      fill: black;
    }
  }
}

.nameGroup {
  position: relative;

  h1 {
    font-size: 9vw;
    font-family: Neue World;
    font-weight: 400;
    color: var(--text-primary-light);
    margin-bottom: 20px;

    @include max-width(md) {
      font-size: 5em;
    }
  }

  p {
    color: var(--text-muted-light);
  }
}

.arrowContainer {
  position: absolute;
  right: 0px;
  top: -20px;
}

.textSlider {
  top: 0;
  div {
    p {
      font-size: 90px;
      color: var(--text-secondary-dark);
    }
  }
}

.buttonList {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  p {
    transition: color 0.3s linear;
    &:hover {
      color: black;
    }
  }
}

.hoverBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  z-index: -1;
}
