@use '../../../styles/variables.scss' as *;

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 170px;
  gap: 30px;

  @include max-width(md) {
    padding-inline: 20px;
    gap: 20px;
  }
}

.cardItem {
  flex: 1 0 100%;
  border-radius: 20px;
  height: 600px;
  // background-color: var(--light-gray);
  background-image: var(--card-color-gradient);
  border: 1px solid var(--white);
  overflow: hidden;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @include max-width(md) {
    flex-direction: column;
  }
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px; // Effect on mobile
}

.cardTitleGroup {
  background-color: var(--bg-white);
  border-radius: 12px;
  padding: 16px;

  h2 {
    margin-bottom: 10px;
    color: var(--text-primary-dark);
  }

  p {
    color: var(--text-secondary-dark);
  }
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3 {
    color: var(--text-primary-dark);
  }

  p {
    color: var(--text-primary-dark);
  }
}

.buttonSourceContainer {
  display: flex;
  margin-top: 30px;
  @include max-width(md) {
    margin-top: 15px;
  }
}

.buttonSourceCode {
  border: 1px solid var(--bg-black);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border-radius: 50px;
  padding: 14px 20px;
  gap: 6px;
  cursor: pointer;
  color: var(--bg-black);
  transition: color 0.4s linear;

  @include max-width(md) {
    padding: 12px 20px;
  }

  h3 {
    transition: color 0.4s linear;
    font-weight: 400;
    color: var(--text-primary-dark);
  }

  svg {
    transition: fill 0.4s linear;
  }

  &:hover {
    color: var(--bg-white);
    border-color: var(--plump-purple);

    h3 {
      color: var(--text-primary-light);
    }

    svg {
      fill: var(--text-primary-light);
    }
  }
}

.cardImageContainer {
  max-width: 800px;

  @include max-width(md) {
    height: 700px;
  }

  img {
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}
